* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background: url(tortoise-shell.svg);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main #seconds-stick {
  width: 2px;
  height: 130px;
  margin: -130px 0 0 -1px;
  background: #1f6cb9;
  position: absolute;
  transform-origin: 50% 100%;
  z-index: 3;
}

.main #minutes-stick {
  width: 4px;
  height: 120px;
  margin: -120px 0 0 -2px;
  background: #3753af;
  position: absolute;
  transform-origin: 50% 100%;
  z-index: 2;
}

.main #hours-stick {
  width: 6px;
  height: 85px;
  margin: -85px 0 0 -3px;
  background: #9ab9e7;
  position: absolute;
  transform-origin: 50% 100%;
  z-index: 1;
}

.main #circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: -300px 0 0 0;
  position: absolute;
  transform: translate(-50%, 50%);
  z-index: 0;
  background-color: #1a1a1d;
  opacity: 0.7;
}

.main #centerCircle {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin: -12px 0 0 0;
  background: #002a8b;
  position: absolute;
  transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  z-index: 10;
}

.main #circle span {
  width: 2px;
  margin: 0 0 0 150px;
  position: absolute;
  background: #ffffff;
  transform-origin: 0px 150px;
}
